<todoform>
    <div id="new-todos">
        <form onsubmit="{
                    submit
                }">
            <input type="text" placeholder="new todo" id="newinput">
            <select id="newprio">
                <option disabled selected="">priority</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <div id="datepicker" ref="date"></div>
            <button id="newtodo" name="new todo" ref="submit" value="new todo">new todo</button>
        </form>
    </div>
    <script>
        var s = this;
        this.submit = function () {
            var title = s.newinput.value,
                due_date = s.datepicker.value,
                priority = s.newprio.value;
            if (title === "" || priority === "priority")
                return;
            //issues user story 1
            $.ajax({ url: "/api/project/" + allprojects[selectedproject].client_id + "/issues/", method: "post", data: { title, due_date, priority } }).done(function (data) {
                console.log("server created issue: " + data.client_id);
                allprojects[selectedproject].tasks.push({ client_id: data.client_id, done: false, due_date, id: 0, priority, title });
                s.newinput.value = "";
                updateHTML();
                //issues user story 2
                saveData();

            });

        }
        setTimeout(function () {
            $("#datepicker").datepicker({})
        }, 0);

    </script>
</todoform>